.body{
  background-color: $silver-100;
  font-style: normal; 
  line-height: 130%;
  // font-size: 16px;
  //
  // @extend %quicksand-500;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}