$orange-900:#FF6838;
$silver-200:#ececec;
$gray:#C2C2C2;;
$darkBlue-900:#363853;
$dark:#31352B;
$silver-100:#f9faff;
























// %quicksand-400{
//    font-family: 'Quicksand-Regular', sans-serif;
//    font-weight: 400;
// }

// %quicksand-500{
//    font-family: 'Quicksand-Medium', sans-serif;
//    font-weight: 500;
// }

// %quicksand-500{
//    font-family: 'Roboto-Regular', sans-serif;
//    font-weight: 500;
// }

// %quicksand-700{
//    font-family: 'Roboto-Bold', sans-serif;
//    font-weight: 700;
// }

