$orange-900:#FF6838;
$silver-200:#ececec;
$gray:#C2C2C2;;
$darkBlue-900:#363853;
$dark:#31352B;
$silver-100:#f9faff;



%quicksand-300{
   font-family: 'Rubik-Light', sans-serif;
   font-weight: 300;
}

%quicksand-400{
 font-family: 'Rubik-Regular', sans-serif;
   font-weight: 400;
}

%quicksand-500{
  font-family: 'Rubik-Medium', sans-serif;
   font-weight: 500;
}


