@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "mixin";
@import "global";

.header {
  padding-top: 60px;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0;
  }

  &__logo {
    transition: opacity 0.3s;
    border-radius: 5px;
    margin-right: auto;
  }

  &__list {
    display: flex;
    margin-right: 62px;
  }

  &__inner {
    position: fixed;
    top: 0;
    background-color: #f9faff;
    left: 0;
    right: 0;
    padding-top: 60px;
    z-index: 999;
    transition: padding 0.2s, background-color 0.3s;
  }
}

.animation-btn {
  transition: color 0.3s, background 0.4s;
  border-radius: 5px;
  background-color: $orange-900;
}

.content {
  &__img {
    background-image: url("../images/scooter-guy.png");
    inset: 0;
    width: 560px;
    height: 660px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
  }

  &__list {
    margin-right: 160px;
  }
}

.popular__category {
  text-align: center;
}

.bg {
  padding: 10px;
  background-color: $white;
}

.menu {
  &__list-link {
    color: $dark;
    transition: color 0.3s;

    &:hover {
      color: $orange-900;
    }

    &--active {
      color: $orange-900;
    }
  }
}

.user-nav__list:not(:last-child) {
  padding-right: 35px;
}

.menu__list-item:not(:last-child) {
  margin-right: 45px;
}

.category__inner-item {
  border-radius: 5px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px #ff6838;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__num {
    position: absolute;
    padding: 1px 7px 1px 5px;
    border-radius: 10px;
    background-color: $orange-900;
    top: 1px;
    left: 27px;
    font-size: 12px;
    color: $white;
    text-align: center;
    line-height: 1.5;
  }
}

.user-nav__link:not(:last-child) {
  margin-right: 35px;
}

.hero {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;

  &__list {
    transform: translateY(250px);
  }
}

.contents__content {
  &-title {
    color: $darkBlue-900;
    font-size: 66px;
    text-transform: uppercase;
    max-width: 450px;
    font-weight: 500;
    @extend %rubik-500;
    margin-bottom: 20px;

    & span {
      color: $orange-900;
      font-size: 66px;
      text-transform: uppercase;
      font-weight: 500;
      @extend%rubik-500;
    }
  }

  &__text {
    color: $dark;
    font-size: 20px;
    line-height: 1.5;
    max-width: 450px;
    margin-bottom: 20px;
    @include line-clamp(3);
  }

  &-button {
    padding: 12px 32px;
    margin-right: 34px;
    color: $white;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.54px;
  }

  &-link {
    color: $darkBlue-900;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    text-decoration-line: underline;
  }
}

.category__item {
  display: flex;
  margin-bottom: 45px;

  &-btn {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 0 1px #ececec;
    transition: backgroung 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $orange-900;
    }
  }

  &-list:not(:last-child) {
    padding-right: 20px;
  }

  &-btn-link {
    color: $darkBlue-900;
    font-size: 20px;
    padding: 0 10px;
  }
}

.mixitup-control-active {
  background-color: $orange-900;
  color: $white;
}

.mixitup-control-active path {
  fill: $white;
}

.mixitup-control-active:focus {
  color: $darkBlue-900;
}

.category__item-btn:hover {
  color: $orange-900;
}

.category__item-btn svg {
  padding-right: 5px;
}

.mixitup-control-active:active {
  color: $darkBlue-900;
}

.category__title {
  color: $darkBlue-900;
  font-size: 36px;
  margin-bottom: 60px;

  @extend%rubik-500;
}

.product-card {
  
  display: contents;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & span {
    color: $darkBlue-900;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 10px;
    margin-top: auto;
    @extend%rubik-500;
  }

  &-img {
    margin-bottom: 10px;
  }

  &-subtitle {
    color: $dark;
    text-align: center;
    font-size: 15px;
    @extend%rubik-400;
    margin-bottom: 10px;
    @include line-clamp(2);
  }

  &-btn {
    border-radius: 6px;
    background-color: $orange-900;
    border: none;
    padding: 7px 16px;
  }
}

.category__inner {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
  grid-row-gap: 30px;
  margin-bottom: 60px;

  &-item {
    background-color: $white;
    box-shadow: 0 0 0 1px #ececec;
    border-radius: 5px;
    max-width: 210px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.category__menu-btn-link {
  color: $white;
  font-size: 14px;
}

.category__link {
  color: $darkBlue-900;
  font-size: 20px;
  line-height: 1.5;
  text-decoration-line: underline;
  left: 50%;
  transform: translateX(-50%);

  .footer {
    margin-top: 120px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.footer-bottom {
  padding: 30px;
  border-top: 1px solid $silver-200;
  border-width: 100%;
}



.social-list {
  display: flex;
  margin-left: -24px;

  &-link {
    background-color: #ececec;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social-list-item:not(:last-child) {
  margin-right: 12px;
}

.footer-contacts {
  color: $dark;
  font-size: 16px;
  line-height: 32px;
}


.footer-top--a{
  position: relative;
}
.footer-top--b{
  position: relative;
}
.footer-top--c{
  position: relative;
}

.footer-top--a:before{
  background-image: url('../images/icons/location.svg');
}

.footer-top--b:before{
  background-image: url('../images/icons/calling.svg');
}

.footer-top--c:before{
  background-image: url('../images/icons/message.svg');
}

.footer-top--a:before{
  content:"";
  position: absolute;
  inset: 0;
  left: -25px;
  width: 19px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top--b:before{
  content:"";
  position: absolute;
  inset: 0;
  left: -25px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top--c:before{
  content:"";
  position: absolute;
  inset: 0;
  left: -25px;
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.footer {
  &__logo {
    margin-bottom: 30px;
  }
}

.footer-top {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__link {
    color: $dark;
    font-size: 18px;
    letter-spacing: 0.18px;
    @include line-clamp(4);
  }
}

.form {
  &-subck-input {
    width: 200px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    background-color: $white;
    padding: 13px 15px;
    margin-top: 30px;
    margin-bottom: 12px;
  }

  &-subck-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 13px 38px;
    border-radius: 5px;
    background-color: $orange-900;
    border: none;
    display: flex;
    cursor: pointer;
    color: $white;
    font-size: 14px;
    @extend%rubik-500;
  }
}

.animation-logo {
  transition: box-shadow 0.3s, opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &:active {
    opacity: 0.5;
  }
}

.animation {
  transition: background 0.3s, box-shadow 0.3s;
  border-radius: 5px;

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    text-decoration-line: none;
  }
  &:hover {
    color: $orange-900;
    text-decoration: underline;
    text-decoration-line: none;
  }
  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    text-decoration-line: none;
  }
}

.animation-btn {
  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7),
      0 5px 12px 0 rgba(255, 104, 56, 0.2);
  }
  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: none;
  }
}

.product-card-btn span {
  display: contents;
  color: #fff;
  font-size: 14px;
}

.product-card-btn:active span {
  color: $orange-900;
}

.product-card-btn:hover span {
  color: $orange-900;
}
.product-card-btn:focus span {
  color: $orange-900;
}

.contents__content-button:focus span {
  color: $orange-900;
}

.contents__content-button:hover span {
  color: $orange-900;
}

.contents__content-button:active span {
  color: $orange-900;
}

.form-subck-btn:focus {
  color: $orange-900;
}

.form-subck-btn:focus path {
  fill: $orange-900;
}

.form-subck-btn:hover {
  background: #fff;
  color: $orange-900;
}

.form-subck-btn:hover path {
  fill: $orange-900;
}

.form-subck-btn:active {
  color: $orange-900;
}

.form-subck-btn:active path {
  fill: $orange-900;
}

.form-subck-btn:active {
  background-color: #fff2ed;
  border: none;
}

.user-nav__link:focus {
  border-radius: 5px;
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.user-nav__l:hover path {
  stroke: #fff;
}

.user-nav__l:hover ellipse {
  stroke: #fff;
}

.user-nav__l:active path {
  stroke: #333;
}

.user-nav__l:active ellipse {
  stroke: #333;
}

.user-nav__num {
  transition: background 0.3s, box-shadow 0.3s, color 0.3s;
}

.user-nav__link {
  transition: background 0.3s;
  border-radius: 5px;
}

.user-nav__link:hover {
  background-color: $orange-900;

  .user-nav__num {
    background-color: $white;
    color: $orange-900;
  }
}

.user-nav__link:active {
  background-color: #fff2ed;
  box-shadow: none;
}

.category__item-btn {
  transition: background 0.3s, color 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 13px 32px;
}

.category__item-btn:focus {
  background: #fff;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.category__item-btn:focus span {
  color: $darkBlue-900;
}

.category__item-btn:focus path {
  fill: $darkBlue-900;
}

.category__item-btn:hover {
  background: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.category__item-btn:hover span {
  color: $orange-900;
}

.category__item-btn:hover path {
  fill: $orange-900;
}

.category__item-btn:active {
  background: #fff;
  box-shadow: 0 -5px 12px 0 rgba(255, 104, 56, 0.2) inset;
}

.category__item-btn:active span {
  color: $darkBlue-900;
}

.category__item-btn:active path {
  fill: $darkBlue-900;
}

.form-subck-input:hover::placeholder {
  color: $darkBlue-900;
}

.form-subck-input:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.footer__list:not(:last-child) {
  margin-bottom: 15px;
}

.footer-bottom {
  display: flex;
  justify-content: center;

  &__copy {
    color: $dark;
    font-size: 14px;
    line-height: 100%;
  }
}

.delivery__list {
  margin-left: 50px;
}

.delivery-img {
  width: 440px;
  height: 585px;
  margin-right: 130px;
}

.delivery__inner {
  display: flex;
}

.delivery__content {
  max-width: 529px;
}

.delivery__title {
  font-size: 36px;
  @extend%rubik-500;
  max-width: 470px;
}

.delivery__text {
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 30px;
  @include line-clamp(4);
}

.delivery__item {
  font-size: 24px;
  line-height: 1.5;
  color: $darkBlue-900;
  margin-bottom: 30px;
}

.delivery__item:not(:last-child) {
  margin-bottom: 20px;
}

.delivery__link {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.54px;

  &:hover {
    color: $orange-900;
  }

  &:focus {
    color: $orange-900;
  }

  &:active {
    color: $orange-900;
  }
}

.delivery__item {
  position: relative;
}

.delivery__item--watch::before {
  background-image: url("../images/icons/stopwatch.svg");
}

.delivery__item::before {
  content: "";
  inset: 0;
  left: -44px;
  position: absolute;
  width: 34px;
  height: 34px;
}

.delivery__item--man::before {
  background-image: url("../images/icons/man.svg");
}

.delivery__item--shop::before {
  background-image: url("../images/icons/shop.svg");
}

.restaurant__inner {
  text-align: center;
}

.card-food-content {
  border-radius: 8px;
  background: $white;
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: 370px;
  height: 119px;
  padding: 15px 20px 20px 20px;
}

.restaurant__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: -40px;
}

.restaurant__list {
  margin-top: 30px;
}

.restaurant__title {
  font-size: 36px;
  @extend%rubik-500;
}

.restaurant__list:hover {
  max-width: 370px;
  box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.5);
}

.card__title {
  font-size: 24px;
  text-align: left;
  @extend%rubik-400;
}

.card__title span {
  display: block;
  font-size: 18px;
  @extend%rubik-300;
  line-height: 0.3;
  margin-top: 20px;
  margin-left: 25px;
}

.card__span {
  position: relative;
}

.card__span::before {
  background-image: url("../images/icons/time.svg");
}

.card__span::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  inset: 0;
  left: -33px;
  top: -7px;
}

.card__link {
  border-radius: 20px;
  position: absolute;
  background: $orange-900;
  top: 54px;
  right: 12px;
  padding: 2px 27px 0 28px;
  transition: fill 0.3s, translate 0.4s;

  &:hover svg {
    transform: translateX(12px);
    & path {
      fill: #ff6838;
    }
  }

  &:focus path {
    fill: #ff6838;
  }

  &:active {
    transform: translateX(0);
  }
}

.social-list-link {
  transition: background 0.3s, fill 0.3s;
}

.social-list-link:focus {
  background-color: #fff2ed;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.social-list-link:hover {
  background-color: $orange-900;
}

.social-list-link:hover path {
  fill: #fff;
}

.social-list-link:active {
  background-color: #fff2ed;
  box-shadow: none;
}

.social-list-link:active path {
  fill: $orange-900;
}

.slick-prev {
  left: 44%;
  bottom: -14px;
  transition:background-color 0.3s, box-shadow 0.3s, box-shadow 0.3s;

  &:focus {
    border-radius: 40px;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: #fff2ed;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    box-shadow: none;

    & path {
      fill: #ffae94;
    }

    & circle {
      stroke: #ffae94;
    }
  }

  &:active {
    background-color: #fff2ed;
    border-radius: none;
    box-shadow: none;
    & circle {
      stroke: none;
    }

    & path {
      fill: #ffae94;
    }
  }
}

.slick-next {
  right: 36%;
  bottom: -7px;
  transition:background-color 0.3s, box-shadow 0.3s, fill 0.3s , stroke 0.4s;

  &:focus {
    border-radius: 40px;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: #fff2ed;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    box-shadow: none;

    & path {
      fill: #ffae94;
    }

    & circle {
      stroke: #ffae94;
    }
  }

  &:active {
    background-color: #fff2ed;
    border-radius: none;
    box-shadow: none;

    & circle {
      stroke: none;
    }

    & path {
      fill: #ffae94;
    }
  }
}

.slick-active button{
  border-radius: 15px;
  transition:background-color 0.3s, box-shadow 0.3s;
  &:focus{
    
    background-color: #C2C2C2;
    box-shadow: 0 0 0 2px #FF6838;
    width: 15px;
    height: 15px; 
  }

   &:hover{
   
    background-color: #FFF2ED;
    box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.70);
   }

   &:active{
   
    background: #FFAE94;
    border: none;
    box-shadow: none;
   }

}


.blockquote {
  max-width: 570px;
  @include line-clamp(7);
}

.reviews__title {
  text-align: center;
}

.slick-dots button {
  opacity: 0.4;
  width: 15px;
  height: 15px;
  font-size: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  background-color: #c2c2c2;
}

.slick-next {
  transform: rotate(180deg);
}

.slick-dots {
  display: flex;
  margin-left: 50%;
  margin-top: 75px;
}

.slick-dots li + li {
  margin-left: 13px;
}

 .slick-active button {
  opacity: 1;
  width: 15px;
  height: 15px;
  transform: translateY(-3px);
  background-color: $orange-900;
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 92%;
}

.reviews__content {
  display: flex;
}

.reviews__img {
  border-radius: 50%;
  margin-right: 80px;
}

.blockquote {
  @extend%roboto-400;
  font-size: 20px;
  margin-top: 76px;
  position: relative;

  & span {
    display: block;
    color: $orange-900;
    @extend%rubik-500;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  & p {
    font-size: 14px;
  }
}

.blockquote::before {
  background-image: url("../images/icons/k.svg");
}

.blockquote::after {
  background-image: url("../images/icons/k.svg");
}

.blockquote::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -37px;
  width: 24px;
  height: 19px;
}

.blockquote::after {
  content: "";
  position: absolute;
  inset: 0;
  left: 105%;
  top: 50%;
  transform: scale(-1, 1);
  width: 24px;
  height: 19px;
}

.application {
  margin: 120px;
  &__inner {
    display: flex;
  }

  &__content {
    max-width: 496px;
    margin-right: 62px;
  }

  &__title {
    color: $darkBlue-900;
    font-size: 36px;
    @extend%rubik-500;
    @include line-clamp(4);
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @include line-clamp(7);
  }

  &-info__link {
    display: flex;
  }

  &__link:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
