@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 60px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    padding-right: 45px;
  }

  &__list-link {
    color: $dark;
    transition: color 0.3s;
    @extend %quicksand-400;

    &:hover {
      color: $orange-900;
      @extend %quicksand-400;
    }
  }
  &__list-link--active {
    color: $orange-900;
    @extend %quicksand-400;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link {
    margin-left: 25px;
    padding: 10px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $orange-900;
    top: 1px;
    right: -5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
}

.header__contents {
  display: flex;
}

.header__content {
  margin-top: 216px;
  margin-right: 160px;
  &-title {
    color: $darkBlue-900;
    font-size: 66px;
    text-transform: uppercase;
    max-width: 450px;
    @extend%quicksand-500;
    padding-bottom: 20px;
  }

  &-title span {
    color: $orange-900;
    font-size: 66px;
    text-transform: uppercase;
    @extend%quicksand-500;
  }

  &-text {
    color: $dark;
    font-size: 20px;
    line-height: 150%;
    max-width: 450px;
    @extend%quicksand-400;
    padding-bottom: 20px;
  }

  &-button {
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: $orange-900;
    border: none;
    margin-right: 34px;
  }

  &-btn-link {
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.54px;
    @extend%quicksand-400;
  }

  &-link {
    color: $darkBlue-900;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    @extend%quicksand-400;
  }

  &-img {
    margin-top: 70px;
    margin-bottom: 120px;
  }
}

.category__item {
  display: flex;
  margin-bottom: 45px;

  &-btn {
    border-radius: 5px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 0 1px #ececec;
    transition: backgroung 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $orange-900;
    }
  }

  &-list:not(:last-child) {
    padding-right: 20px;
  }

  &-btn-link {
    color: $darkBlue-900;
    font-size: 20px;
    padding: 0 10px;
    @extend%quicksand-400;
  }
}

.category__item-btn--b {
  border-radius: 5px;
  background-color: $orange-900;
  width: 200px;
  height: 70px;
}

.category__item-btn--p {
  width: 181px;
  height: 70px;
}

.category__item-btn--s {
  width: 214px;
  height: 70px;
}

.category__item-btn--c {
  width: 280px;
  height: 70px;
}

.category__item-btn--d {
  width: 167px;
  height: 70px;
}

.category__item-btn--b path {
  fill: #fff;
}

.category__item-btn-link--b {
  color: #fff;
  padding: 0 10px;
}

.category__title {
  color: $darkBlue-900;
  font-size: 36px;
  margin-bottom: 60px;
  transform: translateX(30%);

  @extend%quicksand-500;
}

.category__menu {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
  grid-row-gap: 30px;
  margin-bottom: 60px;

  &-list {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ececec;
    border-radius: 5px;
    width: 210px;
    height: 299px;
    padding: 20px 0;
    position: relative;
  }

  &-list span {
    color: $darkBlue-900;
    font-size: 15px;
    line-height: 140%;
    padding: 10px 77px;
    @extend%quicksand-500;
  }

  &-list-img {
    padding: 20px 35px 10px;
  }

  &-btn {
    display: block;
    border-radius: 6px;
    background-color: $orange-900;
    width: 101px;
    height: 32px;
    border: none;
    padding: 7px 16px;
    margin: 10px 55px 20px;
  }

  &-btn-link {
    color: #fff;
    font-size: 14px;
    @extend%quicksand-400;
  }

  &-subtitle {
    color: $dark;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
    @extend%quicksand-400;
  }
}

.category__link {
  color: $darkBlue-900;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  text-decoration-line: underline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @extend%quicksand-400;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__list {
  margin-top: 160px;
}

.footer__top {
  margin-top: 160px;
}

.footer__footer {
  margin-top: 160px;
  display: grid;
}

.footer-top__social-list {
  display: flex;
}

.footer-top__social-link {
  background-color: #ececec;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  padding: 23px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer-top__adress,
.footer-top__phone,
.footer-top__email {
  color: $dark;
  font-size: 16px;
  line-height: 32px;
  @extend%quicksand-400;
}

.footer-top__form-input {
  width: 200px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  padding: 13px 15px;
  margin-top: 30px;
  outline: none;
  margin-bottom: 12px;
}

.footer-top__form-btn {
  display: block;
  width: 200px;
  height: 44px;
  border-radius: 5px;
  background-color: $orange-900;
  border: none;
}

.footer-top__form-btn-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 13px 15px;
  @extend%quicksand-500;
}

.footer-top__link {
  color: $dark;
  font-size: 18px;
  letter-spacing: 0.18px;
  @extend%quicksand-400;
}

.footer-top__item:not(:last-child) {
  margin-bottom: 20px;
}

.logo {
  transition: opacity 0.3s;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  border: 1px solid $orange-900;
}

.logo:active {
  opacity: 0.5;
}

.menu__list-link:focus {
  border-radius: 5px;
  border: 1px solid $orange-900;
}

.menu__list-link {
  transition: background 0.3s, box-shadow 0.3s;
}

.menu__list-link:active {
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
}

.user-nav__link:focus {
  border-radius: 5px;
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.user-nav__l:hover path {
  stroke: #fff;
}

.user-nav__l:hover ellipse {
  stroke: #fff;
}

.user-nav__l:active path {
  stroke: #333;
}

.user-nav__l:active ellipse {
  stroke: #333;
}

.user-nav__num {
  transition: background 0.3s, box-shadow 0.3s, color 0.3s;
}

.user-nav__num:hover {
  background-color: #fff;
  color: $orange-900;
}

.user-nav__link {
  transition: background 0.3s;
}

.user-nav__link:hover {
  border-radius: 5px;
  background-color: $orange-900;
}

.user-nav__link:active {
  border-radius: 5px;
  background-color: #fff2ed;
}

.header__content-button:focus {
  border-radius: 5px;
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.header__content-button:focus a {
  color: $orange-900;
}

.header__content-button:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7),
    0px 5px 12px 0px rgba(255, 104, 56, 0.2);
}

.header__content-button:hover a {
  color: $orange-900;
}

.header__content-button:active {
  border-radius: 5px;
  background: rgba(255, 122, 80, 0.1);
}

.header__content-button:active a {
  color: $orange-900;
}

.header__content-button,
.header__content-button a {
  transition: color 0.3s, background 0.4s;
}

.header__content-link {
  transition: color 0.3s;
}

.header__content-link:focus {
  border: 2px solid $orange-900;
}

.header__content-link:hover {
  color: $orange-900;
}

.header__content-link:active {
  text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
}

.category__item-btn {
  transition: background 0.3s, color 0.3s;
}

.category__item-btn:focus {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
}

.category__item-btn:focus a {
  color: $darkBlue-900;
}

.category__item-btn:focus path {
  fill: $darkBlue-900;
}

.category__item-btn:hover {
  border-radius: 5px;
  background: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.category__item-btn:hover a {
  color: $orange-900;
}

.category__item-btn:hover path {
  fill: $orange-900;
}

.category__item-btn:active {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 -5px 12px 0 rgba(255, 104, 56, 0.2) inset;
}

.category__item-btn:active a {
  color: $darkBlue-900;
}

.category__item-btn:active path {
  fill: $darkBlue-900;
}

.footer-top__form-btn {
  transition: background 0.3s, color 0.3s;
}

.footer-top__form-input:focus {
  border: 1px solid $orange-900;
}

.footer-top__form-btn:focus {
  border-radius: 5px;
  background: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.footer-top__form-btn:focus a {
  color: $orange-900;
}

.footer-top__form-btn:focus path {
  fill: $orange-900;
}

.footer-top__form-btn:hover {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
}

.footer-top__form-btn:hover a {
  color: $orange-900;
}

.footer-top__form-btn:hover path {
  fill: $orange-900;
}

.footer-top__form-btn:active {
  border-radius: 5px;
  background-color: #fff2ed;
  border: none;
}

.footer-top__form-btn:active a {
  color: $orange-900;
}

.footer-top__form-btn:active path {
  fill: $orange-900;
}

.footer-top__social-link {
  transition: background 0.3s, fill 0.3s;
}

.footer-top__social-link:focus {
  background-color: #fff2ed;
  border: 1px solid $orange-900;
}

.footer-top__social-link:hover {
  background-color: $orange-900;
}

.footer-top__social-link:hover path {
  fill: #fff;
}

.footer-top__social-link:active {
  background-color: #fff2ed;
  border: none;
}

.footer-top__social-link:active path {
  fill: $orange-900;
}

.footer-bottom {
  display: flex;
  justify-content: center;

  &__copy {
    color: $dark;
    font-size: 14px;
    line-height: 100%;
    @extend %quicksand-400;
  }
}

@import "media";
